body,
html {
    height: 100%;
    background-image: url(http://localhost/scubaWebsite/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #030303;
}